.App {
  text-align: center;
}
body{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 1.3rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-div{
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.iotd{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}
.iotd iframe{
  margin:2em;
}
.iotd p{
  width:100%;
  margin-top: 2em;
}

.notes{
  font-weight: bold;
  color:gold;

}
.formInput{
  min-height: 30px;
  min-width: 500px;
}
